# VIN information taking

In [1]:
import pandas as pd
import numpy as np
# !pip install vininfo
import vininfo
# !pip install geopy
from geopy import geocoders

In [2]:
data= pd.read_csv(r"C:\Users\Wenceslas\Dropbox\MoSEF\cours\DATA_MINING_R\pojet_car\data\craigslistVehicles.csv")

In [3]:
data.head()

,url,city,city_url,price,year,manufacturer,make,condition,cylinders,fuel,...,transmission,VIN,drive,size,type,paint_color,image_url,desc,lat,long
0,https://grandrapids.craigslist.org/cto/d/hasti...,"grand rapids, MI",https://grandrapids.craigslist.org,1500,2006.0,cadillac,cts,good,6 cylinders,gas,...,automatic,NaN,rwd,mid-size,coupe,blue,https://images.craigslist.org/00K0K_a9CZoZg2U8...,"2006 CtS Leather, Runs and drives Good.236k mil",42.643000,-85.293700
1,https://grandrapids.craigslist.org/cto/d/grand...,"grand rapids, MI",https://grandrapids.craigslist.org,8900,2009.0,lincoln,mkx,NaN,NaN,gas,...,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00a0a_9B4kPBDIWd...,"Selling our loaded 2009 Lincoln MKX with 119,0...",42.973700,-85.726500
2,https://grandrapids.craigslist.org/ctd/d/chesa...,"grand rapids, MI",https://grandrapids.craigslist.org,7995,2010.0,cadillac,srx premium collection,NaN,NaN,gas,...,automatic,3GYFNCEYXAS552363,NaN,NaN,NaN,NaN,https://images.craigslist.org/00X0X_8i0VRuk7Cv...,WE HAVE OVER 400 VEHICLES IN STOCK!\n\n View O...,43.186723,-84.163862
3,https://grandrapids.craigslist.org/ctd/d/chesa...,"grand rapids, MI",https://grandrapids.craigslist.org,6995,2007.0,NaN,hummer h3 4dr 4wd suv,NaN,NaN,gas,...,automatic,5GTDN13E478107380,NaN,NaN,NaN,NaN,https://images.craigslist.org/00b0b_ahkmUzr4cE...,WE HAVE OVER 400 VEHICLES IN STOCK!\n\n View O...,43.186723,-84.163862
4,https://grandrapids.craigslist.org/ctd/d/caled...,"grand rapids, MI",https://grandrapids.craigslist.org,20990,2010.0,ram,2500,excellent,6 cylinders,diesel,...,automatic,3D7UT2CL4AG113236,4wd,NaN,NaN,white,https://images.craigslist.org/00505_3DHY0kFrgb...,Great looking 2010 Ram 2500 ST w/6.7L 24V I6 4...,42.783714,-85.506777

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525839 entries, 0 to 525838
Data columns (total 22 columns):
url             525839 non-null object
city            525839 non-null object
city_url        525839 non-null object
price           525839 non-null int64
year            524399 non-null float64
manufacturer    501260 non-null object
make            517201 non-null object
condition       279881 non-null object
cylinders       315439 non-null object
fuel            521544 non-null object
odometer        427248 non-null float64
title_status    523014 non-null object
transmission    521572 non-null object
VIN             305653 non-null object
drive           374475 non-null object
size            174519 non-null object
type            376906 non-null object
paint_color     354306 non-null object
image_url       525831 non-null object
desc            525815 non-null object
lat             513618 non-null float64
long            513618 non-null float64
dtypes: float64(4), int64(1), object(17)
memory usage: 88.3+ MB

In [5]:
from vininfo import Vin

In [10]:
vin= Vin("5GTDN13E478107380")

In [11]:
test=vin.annotate()
test

OrderedDict([('Country', 'United States'),
             ('Manufacturer', 'Hummer'),
             ('Region', 'North America'),
             ('Years', '2007')])

In [79]:
test["Manufacturer"]

'Hummer'

In [61]:
def extract_year(vin):
    from vininfo import Vin
    if vin in [np.nan]:
        pass
    else:
        vined= Vin(vin)
        return float(vined.annotate()["Years"].replace(" ","").split(",")[0])

In [100]:
def extract_manufacturer(vin):
    from vininfo import Vin
    if vin in [np.nan] or len(str(vin)) != 17 or list(str(vin)) not in ["O, Q, I"]:
        pass
    else:
        vined= Vin(vin)
        return vined.annotate()["Manufacturer"]

In [63]:
extract_year()

2007.0

In [87]:
test= pd.DataFrame()
test["vin"]= data["VIN"]
test["year"]= data["year"]
test["manu"]= data["manufacturer"]

In [88]:
test["year"]= test.apply(lambda row: row[1] if row[1] not in [np.nan] \
                         else extract_year(row[0])
                        ,axis= 1)

In [101]:
test["manu"]= test.apply(lambda row: row[2] if row[2] not in [np.nan] \
                         else extract_manufacturer(row[0])
                        ,axis= 1)

In [102]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525839 entries, 0 to 525838
Data columns (total 3 columns):
vin     305653 non-null object
year    524399 non-null float64
manu    501260 non-null object
dtypes: float64(1), object(2)
memory usage: 12.0+ MB